/* 
tageName|class|id{
    property:value;
    pproperty:value;
}
*/

body{
    background-color: black;
}
h1{
    color: white;
    text-decoration: underline;
}

/* #id{
    property:value"
}*/

#id tag{
    color:aquamarine;
}
#offer_link{
    color: red;
}
.heading{
    color:white;
    text-decoration: underline;
}
.card{
    width: 30%;
    height: 300px;
    background-color: aquamarine;
    color: black;
}